  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<style>
 #drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 60%;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop_area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#image {
  display: none;
}
      </style>
   </head>
  
  <body>
  <div>
  <form action="/provider/uploads" method="post" enctype="multipart/form-data">  
  <input type="file" name="image" />
  <input type="submit">
    </form>   
  </div>

    <div id="drop_area">
        <form class="my_form">
          <p>Upload multiple Images </p>
          <input type="file" id="image" multiple accept="image/*" onchange="handleFiles(this.files)">
          <label class="button" for="image">Select Images</label>
          <div id="gallery"></div>
        </form>
      </div>
  <!-- popup form #entry -->
  <a href="#x" class="overlay" id="entry_form"></a>
  <div class="popup">
    <form id="entry-form" action="/provider/provider_process" method="POST">
        <div>
          <label for="item">ITEM</label>
            <select name="item" id="item" required >
            <option value="고시원">Option one</option>
            <option value="원룸">Option two</option>
            <option value="싱글하우스">Option three</option>
          </select>
      </div>
      <div>
          <label for="item">ITEM</label>
            <select name="item" id="item" required >
            <option value="고시원">Option one</option>
            <option value="원룸">Option two</option>
            <option value="싱글하우스">Option three</option>
          </select>
      </div>
      <div>
          <label for="title">TITLE *</label>
          <input type="text" name="title" id="title" autofocus="autofocus" maxlength="20" required />
      </div>
      <div>
          <label for="sex">SEX *</label>
          <input type="radio" name="sex" value="public" checked="checked" />public
          <input type="radio" name="sex" value="man" />man
          <input type="radio" name="sex" value="woman" />woman
      </div>      
      <div>
          <label for="address">ADDRESS *</label>
          <input type="text" name="address" id="address" size="40" maxlength="50" required />
      </div>
      <div>
          <label for="price_min">PRICE *</label>
          <input type="number" name="price_min" id="price_min" min="5" max="99" required />
          <input type="number" name="price_max" id="price_max" min="5" max="99" required />
      </div>
      <div>
          <label for="phone">PHONE</label>
          <input type="text" name="phone" id="phone" maxlength="13" placeholder="ex): 010-0000-0000" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required />
      </div>
      <div>
          <label for="off_side">OFF_SIDE</label>
          <input type="checkbox" name="elevator" id="elevator" />elevator
          <input type="checkbox" name="parking" id="parking" />parking
      </div>
      <div>
          <label for="memo">MEMO</label>
          <textarea rows="4" cols="43" name="memo" id="memo" maxlength="100" placeholder="100자 이내"></textarea>
      </div>                                         
      <input type="submit" id="addup" value="ADD Up">
      <a class="close" href="#close"></a>    
    </form>
  </div>
<script type="text/javascript">
let dropArea = document.getElementById('drop_area')

;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(function(eventName) {
  dropArea.addEventListener(eventName, preventDefaults, false)
})

function preventDefaults (e) {
  e.preventDefault();
  e.stopPropagation();
}

;['dragenter', 'dragover'].forEach(eventName => {
  dropArea.addEventListener(eventName, highlight, false)
})

;['dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, unhighlight, false)
})

function highlight(e) {
  dropArea.classList.add('highlight')
}

function unhighlight(e) {
  dropArea.classList.remove('highlight')
}

dropArea.addEventListener('drop', handleDrop, false)

function handleDrop(e) {
  let dt = e.dataTransfer
  let files = dt.files

  handleFiles(files)
}

function handleFiles(files) {
  files = [...files]
  files.forEach(previewFile)
  files.forEach(uploadFile)
}

function uploadFile(file) {

  var formData = new FormData();
  var url = 'http://localhost:3000/provider/uploads'
  
  formData.append('image', file);
  //alert(formData.name);

  fetch(url, {
    method: 'POST',
    enctype: 'multipart/form-data',
    body: formData
  })
  .then() // <- Add `progressDone` call here
  .catch((error) => { console.log('false'); })
}

function previewFile(file) {
  let reader = new FileReader()

  reader.readAsDataURL(file)
  reader.onloadend = function() {
    let img = document.createElement('img')
    img.src = reader.result
    document.getElementById('gallery').appendChild(img)
  }
}
</script>      
    
  </body>
</html>